{{ define "main" }}

<style>
    ::-webkit-scrollbar {
        width: 0.66vw;
        background-color: #151515;
    }


    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 5px;
    }

    .food {
        display: block;

        width: 100%;
        column-count: 2;

        font-size: large;
    }

    .recipe {
        color: navajowhite;
        scrollbar-color: gray #151515;
        font-family: sans-serif;
        font-size: medium;
        margin: 0;

    }









    @media (max-width: 55em) {
        .food {
            column-count: 1;

        }

        .recipe {
            padding: 10px;
            font-size: large;
        }
    }
</style>

<div
    style="width: 100%; border: outset yellow; overflow: hidden; height: 30%; -webkit-border-radius: 20px; border-radius: 20px; margin-bottom: 20px;">
    <center>You may also use the tags tab to quickly browse for an appropriate food:</center>
    <ul>
		{{- $uniqueTags := slice -}}
		{{- range .Pages }}
		{{- with .Params.tags }}
		{{- range . }}
		{{- if not (in $uniqueTags .) }}
		{{- $uniqueTags = $uniqueTags | append . -}}
		{{- end }}
		{{- end }}
		{{- end }}
		{{- end }}
		{{- range $index, $tag := $uniqueTags }}
		{{- if $index }} || {{ end }}
		<a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}" style="color: yellow; text-decoration: none;">{{ $tag
			}}</a>
		{{- end }}
	</ul>
</div>

{{ if not (.Params.disableListTemplate) }}
<ul class="food">
    {{ range .Pages }}
    <li class="recipe">
        <a href="{{ .Permalink }}" style="text-decoration: none; color: rgb(201, 100, 18);">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>
{{.Content}}



<h1 style="color: yellow;"><u>Cooking with swiftness!</u></h1>

<div>
    <p>Even at the age of 27, my cooking skills are not to be trusted, though that should not
        prevent me from making this
        recipes
        section. Here you will find recipes that I have personally crafted by intuition and liked, or those that I have
        seen
        somewhere and tested personally. As a bonus, I will also include cooking schedules that aim to minimize the
        makespan of the entire steps
        chain.
        <a href="/sandbox/scheduling/" style="color: yellow;">Click here to learn more about the thought process.</a>
    </p>


</div>


{{ end }}
{{ end }}
