{{ define "main" }}

<style>
    .tikzs {
        text-align: center;
        background-color: white;
        width: fit-content;
        margin: auto;
        padding: 20px;
        border-radius: 8px;
        

    }
    .flex-container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        height: 100%;
        padding: 15px;
        gap: 5px;
    }

    .flex-container>div {
        background-color: #3d3d3d;
        border: 3px solid #000000;
        border-radius: 5px;
        padding: 8px;
    }

    .item1 {
        align-self: auto;
        display: inline-block;
        
        max-height: 100%;

    }

    .item2 {
        flex-grow: 0;
        align-self: center;
        min-width: 220px;
        
    }

    .info {
        display: flex;
        flex-direction: column;
        background-color: grey;
        max-height: 100%;
        padding: 15px;
        gap: 5px;
    }

    .info>div {
        background: #979797;
        border: 3px solid #000000;
        border-radius: 5px;
        padding: 8px;
    }

    @media (max-width: 767px) {

        
        .flex-container {
            flex-direction: column;
        }

        .item2 {
            align-self: center;
            min-width: unset;
            
        }
    }
    
    
</style>
<script src="https://tikzjax.com/v1/tikzjax.js"></script>
{{ $tasks := .Params.tasks }}
<script>


var processSteps = [
    {{- range $index, $task := $tasks -}}
      {
        id: {{ $task.id }},
        name: "{{ $task.name }}",
        machine: "{{ $task.machine }}",
        processing_time: {{ $task.processing_time }},
        dependencies: [{{ range $task.dependencies }}{{ . }},{{ end }}],
      },
    {{- end -}}
  ];


    function calculateSchedule(processSteps) {
        const tasks = processSteps.map((step, index) => ({
            id: index + 1,
            name: step.name,
            machine: step.machine,
            processingTime: step.processing_time,
            dependencies: step.dependencies,
            startTime: 0,
            finishTime: 0,
        }));

        for (const task of tasks) {
            task.startTime = Math.max(...task.dependencies.map(depId => tasks[depId - 1].finishTime), 0);
            task.finishTime = task.startTime + task.processingTime;
        }

        const makespan = Math.max(...tasks.map(task => task.finishTime));

        return { makespan, tasks };
    }

    
    



</script>



<div class="flex-container">
    <div class="item2">
        <div class="info">
            <img src="/{{.File.BaseFileName}}.png" width="100%" height="100%" loading="lazy"
                style="border: 3px solid #000000;">
            <div class="ingredients">
                <h2 id="ingredientsTitle" style="text-align: center;">{{.Title}}</h2>
                <p>{{ with .Params.ingredients }}
                <ul id="ingredientsList">
                    {{ range . }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                {{ end }}</p>
            </div>
        </div>
    </div>
    <div class="item1">
        {{.Content}}

    </div>




</div>

<div class="tikzs">
    <script type="text/tikz">
        \begin{tikzpicture}[scale=0.7]
        
        
        
       
        
       
        
    </script>
    <script type="text/javascript">
        function updateschedule() {
            const scheduleResult = calculateSchedule(processSteps);
            console.log('Makespan:', scheduleResult.makespan);
            console.log('Task Schedule:');
            scheduleResult.tasks.forEach(task => {
                console.log(`${task.name}: Start Time ${task.startTime}, Finish Time ${task.finishTime}, Machine ${task.machine}`);
            });
            tasks = scheduleResult.tasks;
            

            var tikzCook = document.querySelector('.tikzs script');
            var tikzContent = tikzCook.innerHTML;
            // tikzContent += `\n\\draw[->] (0,0) -- (${scheduleResult.makespan},0) node[right] {};`;
            // tikzContent += `\n\\draw[->] (0,0) -- (0, 3 * ${tasks.machine.size} ) node[above] {}; `;
            
            let uniquemachines = new Set();
            processSteps.forEach(obj => {
                uniquemachines.add(obj.machine);
            });
            let machinescount = uniquemachines.size; 
            console.log(machinescount)
            
            let space = 3;
            tikzContent += `\n\\draw[->] (0,0) -- (${scheduleResult.makespan},0) node[right] {};`;
            tikzContent += `\n\\draw[->] (0,0) -- (0,${machinescount * 3}) node[above] {};`;
            tikzContent += `\n\\draw[gray!50, dashed, step=1] (0,0) grid (${scheduleResult.makespan},${machinescount * 3});`;
            tikzContent += `\\foreach \\x in {1,2,...,${scheduleResult.makespan}} {`;
tikzContent += `\n\t\\draw (\\x,0) -- (\\x,-0.2) node[below] {\\x};`;
tikzContent += `\n}`;

            uniquemachines.forEach(element => {
            tikzContent += `\n\\draw (0,${space}) -- (-0.2,${space}) node[left] {${element}};`
            space +=3
            });
            
            tasks.forEach(element => {
    let uniqueMachinesArray = Array.from(uniquemachines)
    let machineOrder = uniqueMachinesArray.indexOf(element.machine) * 3
    tikzContent += `\n\\draw[fill=blue!30] (${element.startTime},${machineOrder}) rectangle (${element.finishTime},${machineOrder + 3}) node[pos=.5] {${element.id}};`
});
            
            tikzContent += `\n\\end{tikzpicture}`;

            
            tikzCook.innerHTML = tikzContent;
        }

        
        updateschedule();
    </script>
</div>


{{ end }}