{{ define "main" }}

<style>
    ::-webkit-scrollbar {
        width: 0.66vw;
        background-color: #151515;
    }

    ::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 5px;
    }

    .booklink {
        text-decoration: none;
        color: rgb(252, 75, 5);
    }

    .booktitle {
        text-align: center;
        text-decoration: none;
        color: orange;

    }

    .book-container {


        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }


    .bookcover {
        width: 200;

        flex: 0 0 200px;

        margin-right: 10px;

    }

    .content {
        flex: 1;

    }


    @media only screen and (max-width: 768px) {
        .book-container {
            max-width: none;

            flex-direction: column;
            align-items: center;
        }

        .bookcover,
        .content {
            flex: 1 1 100%;

            margin-right: 0;

        }
    }
</style>
<h2 style="text-align: center;">Here in this page you will find books that I highly recommend. Most of these serve an
    entertaining purpose but you may find something informative!</h2>
<div
    style="width: 100%; border: outset yellow; overflow: hidden; height: 30%; -webkit-border-radius: 20px; border-radius: 20px; margin-bottom: 20px;">
    <center>You may also use the tags tab to quickly browse for an appropriate book type:</center>
    <ul>
        {{- $uniqueTags := slice -}}
        {{- range .Pages }}
        {{- with .Params.tags }}
        {{- range . }}
        {{- if not (in $uniqueTags .) }}
        {{- $uniqueTags = $uniqueTags | append . -}}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- range $index, $tag := $uniqueTags }}
        {{- if $index }} || {{ end }}
        <a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}" style="color: yellow; text-decoration: none;">{{ $tag
            }}</a>
        {{- end }}
    </ul>
</div>

{{ if not (.Params.disableListTemplate) }}

{{ $paginator := .Paginate .Pages 5 }}

{{ range $index, $page := $paginator.Pages }}
<a href="{{ .Permalink }}" class="booktitle">
    <h2 class="booktitle">{{ .Title }}</h2>
</a>
<div class="book-container">
    <div class="content">

        <p>{{ .Summary}}</p>

    </div>
    <div class="bookcover">
        <a href="{{ .Permalink }}"><img src="/books/{{ .File.BaseFileName }}.png" alt="{{ .Title }} Image"></a>
    </div>
</div>
{{ end }}


<div class="pagination" style="text-align: center;">
    {{ with .Paginator }}
    <nav class="pagination-nav">
        {{ if .HasPrev }}
        <a href="{{.Prev.URL}}" style="color: yellow;">&laquo; Newer</a>
        {{ end }}
        <span class="page-number">Page {{.PageNumber}} of {{.TotalPages}}</span>
        {{ if .HasNext }}
        <a href="{{.Next.URL}}" style="color: yellow;">Older &raquo;</a>
        {{ end }}
    </nav>
    {{ end }}
</div>

{{ end }}
{{ end }}
