<style>.Home:hover {
    background-color: purple;


}


.homesong {
    width: 50%;
    float: right;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(88, 57, 124);
}

audio::-webkit-media-controls-play-button {
    background-color: rgb(209, 184, 238);
    border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
    color: #000000;
    font-style: bold;
    width: 100px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: #000000;
    font-style: bold;
    width: 100px;
}

audio::-webkit-media-controls-timeline {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    width: 100px;
}

audio::-webkit-media-controls-volume-slider {
    background-color: rgb(169, 79, 187);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

audio::-webkit-media-controls-mute-button {
    background-color: rgb(166, 37, 206);
    border-radius: 50%;
}

.Back {


    background: linear-gradient(to bottom, rgb(152, 47, 194), rgb(185, 207, 165));
    background-attachment: fixed;

}




.Buttons {
    background-color: #aa1667;
    color: rgb(0, 0, 0);
    border: none;
    height: 40px;
    width: 115px;
    border-radius: 5px;
    cursor: pointer;
    transition: hover 10s;
    transition: background-color 1s;
    size: auto;
    margin-right: 40px;

    font-weight: bold;
    font-family: PT Sans
}





.Main_title {
    font-family: Arial, Helvetica, sans-serif;

}

.Text3 {
    color: rgba(10, 10, 10, 0.911);
    font-family: Arial, Helvetica, sans-serif;
}

.reference {
    font-family: Arial, Helvetica, sans-serif;
}


.Main_title {
    font-family: PT Sans;
}

.reference {
    font-family: PT Sans;
}

.Text3 {
    font-family: PT Sans;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: #3200bd;
    width: auto;



}




.News_title {
    font-family: PT Sans;
}


* {

    font-family: PT Sans;
}

.date {
    margin-top: -20px;
    color: rgb(20, 55, 255);
}

.seperate {
    display: inline;
    border-right: 5px solid #10bd00;

    margin-left: 100px;

    padding: 20px;
    box-sizing: border-box;
    float: right;



}

.Contact {
    width: auto;
    height: auto;
    background-color: rgb(121, 199, 162);
    float: right;
    text-align: center;


}


.Posts {
    display: inline-block;
    border-right: solid;
    border-color: #3200bd;
    border-width: 5px;
    margin-right: 200px;
}









.Post_image {

    width: 95%;
    display: inline-block;
    margin-top: 20px;
    border-style: outset;
    border-color: black;

}

.source {
    color: rgba(45, 48, 48, 0.863);
    font-size: 15px;
    text-align: center;

}

.Buttonsss {
    border-style: outset;
    border-width: 5px;
    padding: 5px;
    border-radius: auto;
}



.Contact {
    position: absolute;

    right: 0;
    width: 200px;

    background-color: rgb(196, 76, 136);
    text-align: center;

}


.Mee {
    height: 50%;
    width: 50%;
    border-radius: 100px;





}

.Mee:hover {


    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;




}

.Night {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    width: 115px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}




@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes Night_mode {}



</style>