<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}
	<link rel="icon" href="{{ . }}">
	<!-- <script src="scripts.js" defer></script> -->
	{{- $jsScript := resources.Get "js/scripts.js" -}}
	{{- with $jsScript -}}
	<script src="{{ $jsScript.RelPermalink }}" defer></script>
	{{- end }}
	{{ end -}}
	<meta property="og:description" content="I am immortal! I have life insurance!">
	{{ if isset .Params "tags" }}
	<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ end }}">
	{{ end -}}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<meta property="og:image" content="/Splash.png">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}" type="image/x-icon">


	{{ if .Param "math" }}
	{{ partialCached "math.html" . }}
	{{ end }}

</head>


<body>

	<main>
		<!-------------------------- header---------------------- -->
		<header>

			{{ partial "header.html" . }}
		</header>
		<div class="navigation" style="overflow-x: auto;

        white-space: nowrap;
">
			<ul>
				<li><a href="/" style="text-decoration: none; color: yellow;">Home</a></li>
				<li><a href="/blog/" style="text-decoration: none; color: yellow;">Blog</a></li>
				<li><a href="/recommendations/" style="text-decoration: none; color: yellow;">Recommendations</a></li>
				<li><a href="/sandbox/" style="text-decoration: none; color: yellow;">Sandbox</a></li>
				<li><a href="/misc/" style="text-decoration: none; color: yellow;">Misc</a></li>
				<li><a href="/about/" style="text-decoration: none; color: yellow;">About</a></li>
			</ul>
		</div>




		<!-------------------------- header---------------------- -->
		<article>

		</article>
	</main>
<div class="main">
    {{ block "main" . }}
    <center>
        <h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
    </center>
    {{ .Content }}

    <h2 id="references-title" style="display: none;">References</h2>

	<ul id="references-list" style="overflow-y: auto; max-height: 100%; padding: 0; margin: 0; word-wrap: break-word;"></ul>






    {{ end }}
</div>









	{{ block "footer" . }}

	<!-------------------------- footer--------------------------------------------------------------------////-->

	<footer>
		<div class="social-icons">
			<a href="https://twitter.com/Applethal" target="_blank"><img src="/Twitter_Logo_WhiteOnBlue-2425288278.png"
					alt="" class="contact"></a>
			<a href="https://open.spotify.com/user/n568fkbbfbobfth4ad6sq9yei" target="_blank"><img
					src="/Spotify_App_Logo.svg.png" alt="" class="contact"></a>
			<a href="https://github.com/Applethal" target="_blank"><img src="/GitHub-Mark.png" class="contact"></a>
			{{- if .Param "showrss" }}<a href="/index.xml"><img src="/Generic_Feed-icon.svg.png" class="contact"
					alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
		</div>


	</footer>

	<!-------------------------- footer--------------------------------------------------------------- -->
	{{ end }}
</body>

</html>
