{{ define "title" -}}
{{ .Title | title }}
{{- end }}

{{ define "main" -}}
{{ .Content }}


{{ if not (.Params.disableListTemplate) }}


<div style="width: 100%;
border: outset yellow;
overflow: hidden;
height: 30%;
-webkit-border-radius: 20px;
border-radius: 20px;
margin-bottom: 20px;">
	<center>Tags:</center>
	<ul>
		{{- $uniqueTags := slice -}}
		{{- range .Pages }}
		{{- with .Params.tags }}
		{{- range . }}
		{{- if not (in $uniqueTags .) }}
		{{- $uniqueTags = $uniqueTags | append . -}}
		{{- end }}
		{{- end }}
		{{- end }}
		{{- end }}
		{{- range $index, $tag := $uniqueTags }}
		{{- if $index }} || {{ end }}
		<a href="{{ $.Site.BaseURL }}tags/{{ $tag | urlize }}" style="color: yellow; text-decoration: none;">{{ $tag
			}}</a>
		{{- end }}
	</ul>
</div>



<!-- <div style="width: 100%;
border: outset yellow;
overflow: hidden;
height: 30%;
-webkit-border-radius: 20px;
border-radius: 20px;
margin-bottom: 20px;">
    <center>Tags:</center>
    <ul>
        {{- $uniqueTags := slice -}}
        {{- range .Pages }}
            {{- with .Params.tags }}
                {{- range . }}
                    {{- if not (in $uniqueTags .) }}
                        {{- $uniqueTags = $uniqueTags | append . -}}
                        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" style="color: yellow; text-decoration: none;">{{ . }}</a>
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    </ul>
</div> -->












<ul style="padding: 0;">
	{{ range (.Paginator 5).Pages }}
	<a href="{{ .RelPermalink }}" style="color: yellow; text-decoration: none;">
		<div class="posts">
			<li>
				<div class="posttitle">
					{{ .Title }}
				</div>
				<div class="postpicture">
					<img src="/{{ .File.BaseFileName }}.png">
				</div>

				<div class="postdate">
					{{ if .Param "datesinlist" }}<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{
						.Date.Format "2006 Jan 02" }}</time> {{ end }}
				</div>
				{{- if .Param "authorsinlist" }}
				{{ with .Params.authors }}
				by {{ delimit . ", " " and " }}
				{{ end }}
				{{ end }}
				<div class="posttext" style="color: white;">
					{{.Summary}}
				</div>
			</li>
		</div>
	</a>
	{{ end }}
</ul>

{{ if gt (.Paginator 5).TotalPages 1 }}
<center>
	<div class="pagination">
		{{ with .Paginator }}
		<nav class="pagination-nav">
			{{ if .HasPrev }}
			<a href="{{.Prev.URL}}" style="color: yellow;">&laquo; Newer</a>
			{{ end }}
			<span class="page-number">Page {{.PageNumber}} of {{.TotalPages}}</span>
			{{ if .HasNext }}
			<a href="{{.Next.URL}}" style="color: yellow;">Older &raquo;</a>
			{{ end }}
		</nav>
		{{ end }}
	</div>
</center>
{{ end }}

{{ end }}

{{- end }}