{{ define "title" -}}
{{ .Title | title }}
{{- end }}

{{ define "main" -}}
{{ .Content }}

<ul>
    {{- range .Pages }}
    <li>
        {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format
            "2006 Jan 02" }}</time> &ndash; {{ end -}}
        <strong>{{ .Section }}</strong> &ndash;
        {{ if gt (len .RegularPages) 0 }}
        {{- range .RegularPages }}
        {{- if ne .Section .Parent.Title }}
        <strong>{{ .Section }}</strong> &ndash;
        {{- end }}
        {{- end }}
        {{- end }}
        <a href="{{ .RelPermalink }}" style="color: yellow; text-decoration: none;">{{ .Title }}</a>
        {{- if .Param "authorsinlist" }}
        {{ with .Params.authors }}
        by
        {{ delimit . ", " " and " }}
        {{end}}
        {{ end -}}
    </li>
    {{- end }}
</ul>
{{- end }}