{{ define "main" }}
<main id="main">
    <p>It appears that you chose to enter the realm of the unknown, even I don't know what lies beyond the link that you
        are attempting to visit. Fret not, however, you shall not leave this page with empty hands. Here's some eye
        candy for you:</p>
    <div style="text-align: center;">
        <script type="text/javascript">
            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

            var imagesData = [
                {{ range readDir "static/random" }}
            "{{ .Name }}",
                {{ end }}
            ];

            var randomIndex = getRandomInt(0, imagesData.length - 1);
            var randomImage = imagesData[randomIndex];

            var captions = {
                "neko-neco.gif": "You have laid your eyes on a rare image, consider yourself lucky!",
                "image1.png": "Caption for Image 1",
                "image2.png": "Caption for Image 2",
                "image3.png": "Caption for Image 3",

            };

            var caption = captions[randomImage] || "";

            document.write('<img src="/random/' + randomImage + '" alt="Random Image">');
            document.write('<p>' + caption + '</p>');
        </script>
    </div>
</main>
{{ end }}